@model WebShop.ViewModels.HomeFilterViewModel

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    foreach (var name in Model.Filters)
    {
            <h2>@name.Name</h2>
        foreach (var value in name.Children)
        {
            string isCheck = (Model.Check.SingleOrDefault(v => v == value.Id) != 0) ?
                "checked" : "";
            string disabled = value.Disabled ? "disabled" : "";
                <div class="checkbox checkbox-success checkbox-sm" style="margin-top:15px;">
                    <input id="@value.Id" name="fvalues" class="styled" type="checkbox" value="@value.Id" @isCheck @disabled>
                    <label for="@value.Id">
                        <span style="font-size:14pt; margin-top: -10px; position: absolute;">@value.Name</span>
                    </label>
                </div>            
            }

    }
    @Html.TextBoxFor(m=>m.SearchProduct, new { @class="form-control"})
    <input type="submit" class="form-control" value="Примінити фільтер" />
}
